
// ==========================================================================
// Colors for importing
// ==========================================================================

bg = #f4db7d
accent = #f4db7d
hover = #fae9a8
active = #f4db7d
white = #ffffff
cloud = #f0f0f0
black = #000000
grey = #767472
light-grey = #c6c4c2

