
// ==========================================================================
// All Site-Wide Styles (fonts, typography, buttons, forms, etc)
// ==========================================================================

@import 'colors.styl'



/* Some universals */

*, *::before, *::after { box-sizing: border-box; transition: 1s; }
body { margin: 0; padding: 0; font-weight: normal; word-wrap: break-word; scroll-behavior: smooth; overflow-anchor: none; }
img { max-width: 100%; height: auto; }



/* Fonts */

@font-face
  font-family 'Ubuntu'
  src url('/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Ubuntu Thin'
  src url('/fonts/ubuntu/Ubuntu-Thin.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Thin.woff') format('woff')
  font-weight 200
  font-style normal

@font-face
  font-family 'Ubuntu Light'
  src url('/fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Light.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'Ubuntu Thin'
  src url('/fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Medium.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'Ubuntu Thin' /* Fix This */
  src url('/fonts/ubuntu/Ubuntu-Light-Italic.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Light-Italic.woff') format('woff')
  font-weight 200
  font-style italic

@font-face
  font-family 'Ubuntu'
  src url('/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'), url('/fonts/ubuntu/Ubuntu-Bold.woff') format('woff')
  font-weight bold
  font-style normal



/* Body Styles */

body
  font-size 100%
  min-width 320px

// @media all and (min-width: 1350px) { body {font-size: 120%;} }
// @media all and (min-width: 1750px) { body {font-size: 140%;} }
// @media all and (min-width: 2150px) { body {font-size: 160%;} }




/* Typography */

body
  line-height 1.75
  font-family 'Ubuntu Thin'
  font-weight 200

p { font-family: 'Ubuntu Thin'; font-weight: 200; }

h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu'; margin: 1.25rem 0 .5rem 0; font-weight: normal; line-height: 1; }

h1 { font-size: 3em; font-weight: bold; }
h2 { font-size: 2.25em; font-variant: small-caps; font-weight: 300; }
h3 { font-size: 1.5em; font-weight: bold; color: grey; }
h4 { font-size: 1.35em; font-variant: small-caps; font-weight: 300; color: grey; }
h5 { font-size: 1.25em; font-family: 'Ubuntu Thin'; font-weight: 200; }
h6 { font-size: 1.1em; font-variant: small-caps; font-weight: 300;}

p.small { font-size: .7em; }
p.med { font-size: 1.2em; }

ul li { font-family: 'Ubuntu Thin'; font-weight: 200; list-style-type: circle; }

strong { font-family: 'Ubuntu'; font-weight: normal; }

em { font-family: 'Ubuntu Thin'; font-style: italic; }









/* Links and Buttons */

a.button
  display inline-block
  width auto
  text-decoration none
  border 2px solid bg
  padding 1rem 2rem 1.25rem 2rem
  color black
  border-radius .5rem
  background bg
  font-family 'Ubuntu'
  font-variant small-caps
  font-weight normal
  transition 1s

a.button-light
  background cloud
  border 2px solid black

a.button:focus
a.button:hover
  outline none
  border 2px solid hover
  background hover

a.button-light:focus
a.button-light:hover
  color grey
  border 2px solid grey
  background cloud !important

a.button:active
  background active

a.button-light:active
  color bg
  border 2px solid bg
  background cloud

