
// ==========================================================================
// Styles for standard Page Layout
// ==========================================================================

@import 'colors.styl'



/* Body HTML Layout max width */

html
  background cloud
  height 100%
  z-index -10

body
  display flex // Solution to keep footer..
  flex-direction column // .. at bottom.
  position relative
  background white
  box-shadow 0 0 8px #aaa
  min-height 100%
  min-width 320px
  max-width 2420px
  text-align center
  margin auto
  overflow-x hidden
  z-index -9

main
  flex 1 // .. and main content flowing.


/* Header */

header
  position relative
  background rgb(244,219,125)

header::after
  content " "
  position absolute
  left 0
  right 0
  bottom -7px
  height 7px
  width 100%
  background linear
  background rgb(244,219,125)
  background radial-gradient(ellipse at center bottom, rgba(255,255,255,0) 0%, rgba(244,219,125,1) 87%)



/* Logo */




/* Navigation */





/* Footer */

footer
  position relative
  text-align center
  background rgb(244,219,125)

footer::before
  content " "
  position absolute
  left 0
  right 0
  top -7px
  height 7px
  width 100%
  background linear
  background rgb(244,219,125)
  background radial-gradient(ellipse at center top, rgba(255,255,255,0) 0%, rgba(244,219,125,1) 87%)



/* Copyright */

p#copyright
  text-align center
  font-size .8em
  color grey
  margin 1rem

