
// ==========================================================================
// Global Styles for Standard Layout
// ==========================================================================

html
  background white

