
---
import Layout from '../layouts/standard.astro'
var title = 'CarbonNanotubes.org'
---

<Layout title="Hello">

  <h1>Hello {title}!</h1>

</Layout>

<style lang='stylus'>
  h1
    color steelblue
</style>

